<h1>Log In</h1>

<%= form_tag '/sessions' do %>
  <%= label_tag :username %></br>
  <%= text_field_tag 'user[username]' %>

  </br></br>

  <%= label_tag :password %></br>
  <%= password_field_tag 'user[password]' %>

  </br></br>

  <%= submit_tag "Log In" %>
<% end %>
